@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is our intex page</h1>
    <p>FAG EL-GAMON</p>
    <div class="mx-name-container1 col-center" style="position: absolute; color: white; background-color: rgba(216, 218, 201, 0.5); margin-top: 8%; margin-left: 16%; height: 15%; width: 27%;">
        <span class="mx-text mx-name-text1 text-white text-center d-block spacing-inner-top spacing-inner-bottom text-bold" style="font-size: 34px;">
            Welcome
        </span><span class="mx-text mx-name-text2 text-center d-block text-break spacing-inner-left spacing-inner-right spacing-inner-bottom-medium">Welcome to BYU's Fag El-Gamous project. Stay for a while, and learn more about this amazing, archaeological site!</span>
    </div>
    <img class="mx-image mx-name-image1 img-responsive" src="https://egypt.byu.edu/img/Main$Images$sand.jpg?637818591548107090" role="presentation" style="height: 100%; width: 100%;">
</div>

